*{
  margin:0;
  padding:0;
}

body{
  padding: 0;
  margin: 0;
}

#loading{
position:fixed;
width:100%;
height:100vh;
background: #fff
url('Eclipse.gif') no-repeat center;
z-index:99999;
}

.body-style-contact{
  background: #ff7e5f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.middle{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
